/* CSS Document */


.header {
    width: 100%;
    height: 75px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #3b8dbd;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
.header h1#logo {
	font-family: Jura;
    display: inline-block;
    height: 75px;
    float: left;
	margin-left:50px;
    font-size: 28px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header nav {
    display: inline-block;
    float: right;
	margin-right:50px;
}
.header nav a {
    line-height: 75px;
    margin-left: 20px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header nav a:hover {
    color: #0B0B61;
}


a {
    font-family: Jura;
	text-decoration: none;
}

@media all and (max-width: 660px) {
    .header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
		line-height:100px;
        text-align: center;
    }
    .header nav {
        display: block;
        float: none;
        height: 50px;
		line-height:50px;
        text-align: center;
        margin: 0 auto;
    }
    .header nav a {
        font-family: Jura;
        line-height: 50px;
        margin: 0 10px;
    }
    .header.smaller {
        height: 75px;
    }
    .header.smaller h1#logo {
        height: 40px;
		line-height: 40px;
        font-size: 30px;
    }
    .header.smaller nav {
        height: 35px;
		line-height:35px;
    }
    .header.smaller nav a {
        line-height: 35px;
    }
}

.img-me{ 
	margin-top: 0%;
	margin-left: 1%;
	float: left;
	width: auto;
	height: auto;
	max-width: 240px;
	max-height: 200px;
	border-radius: 25%;
	margin-right: 5%;
}

html {
    background-color: #3b8dbd;
  width: 100%;
  height: 100%;
}
body {
font-family: Jura;
  width: 100%;
  height: 100%;
margin : 0px;
    
}
.tile {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #eaeaea;
}

.tile h1
{
    text-align: center;
}

#astart {
	height: 40%;
    margin-top: 75px;
text-align: left;
	font-family: Jura;
  background-color: #3b8dbd;
}
#a {
    height: 100%;
  width: 100%;
  background-color: #3b8dbd;
}
#astory {
    height: 50%;
  width: 100%;
  background-color: #3b8dbd;
}

#bskills {
    height: 70%;
      background-color: #eaeaea;

}



a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #2d698d url("../image/up_arrow.png") no-repeat center 43%;
    box-shadow: 8px 8px grey;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}



#begin
{
    text-align: left;
}

.bean-skills { 
	width: 50%;
  margin: 0 auto;
  padding:0;
    float: left;
	}

.bean-skills p { 
	margin-bottom: 20px; 
	}

ul.bean-skillset {
	float: left;
	width: 100%;
	}

.skill-percent { 
	float: right; 
	}

li.skill-bar {
     list-style-type: none;
    float: left;
	background-color: #7BC673;
	color: #141e24;
	margin-bottom: 3px;
	padding: 2px 8px;
	width: 300px;	
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
		    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);    

}


.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#13519C;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    min-width:200px;
    max-width:500px;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:15px;
}

.entry img
{
    margin-left: auto;
    margin-right: auto;
}

.bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}

footer {
	display: block;
	font-family: Jura;
	background: #3b8dbd;
    text-align: center;
}

#bproj {
    height: 60%;
    font-family: Jura;
    width: 100%;
}