body {
    background: #2e6b92;
}

.button {
    background: #06182E;
    width: 180px;
    padding: 4px 0;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 3px;
}


p {
    font-family: Cabin;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    user-select: none;
}

p:hover {
     cursor: pointer;
 }

p:after {
     content: "";
     display: block;
     position: absolute;
     width: 100%;
     height: 10%;
     border-radius: 50%;
     background-color: darken(#f1c40f, 20%);
     opacity: 0.4;
     bottom: -30px;
 }
