<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!--
        JS's
    -->

    <script src="vendor/js/vue.min.js"></script>
    <script src="assets/js/homepage.js"></script>


    <!--

    CSS's

    -->


    <title>My Vue JS test</title>


</head>
<body>
<h1 id="app"> {{ message}} </h1>
</body>
</html>